@use '../abstracts/vars' as *;

%heading-base {
  color: var(--txt-primary);
  font-family: #{$font-primary};
  font-weight: var(--wght-bold);
  letter-spacing: var(--l-spacing-tight);
}

%link-base {
  color: var(--txt-primary);
  font-family: #{$font-primary};
  text-decoration: none;
}

%paragraph-base {
  color: var(--txt-primary);
  font-family: #{$font-primary};
  font-weight: var(--wght-normal);
  font-size: var(--fs-s);
}
