// ==================================================
//      Global design tokens
// ==================================================

// 1. Typography
//      1.1 Base settings
// 2. Colors (Raw palette)
//      2.1 Gray scale
//      2.2 Other colors
// 3. Breakpoints

// -------------------------------------------------
//      1. TYPOGRAPHY
// -------------------------------------------------

// --- 1.1 Base settings

$font-path: '../fonts';
$font-format: format('woff2');
$font-family-name: 'Roboto';
$font-primary: $font-family-name, Arial, Helvetica, sans-serif;
$font-secondary: $font-family-name, Arial, Helvetica, sans-serif;

// --- Font weights ---

// $wght-normal: 400;
// $wght-medium: 500;
// $wght-bold: 700;
// $wght-black: 900;

// -------------------------------------------------
//      2. COLORS (Raw palette)
// -------------------------------------------------

// --- 2.1 Gray scale ---

$clr-white: #fafafa;
$clr-gray-100: #eee; // bg
$clr-gray-200: #ececec; // form input bg
$clr-gray-250: #e9e9e9; // form input hover
$clr-gray-300: #cccbcb; // form borders, separators
$clr-gray-400: #919191; // placeholders
$clr-gray-450: #999; // disabled
$clr-gray-500: #5a5a5a; // description, metadata
$clr-gray-600: #3d3d3d; // nav link hover
$clr-gray-800: #292929; // headings, body, paragraphs
$clr-gray-900: #1f1f1f; // form input hover border
$clr-gray-950: #111; // button pressed, dark accents (form input focus)

// --- 2.2 Other colors ---

$clr-red-500: #ef4444; // error
$clr-green-600: #209922; // success
$clr-slate-100: #e2e8f0;

// -------------------------------------------------
//      3. BREAKPOINTS
// -------------------------------------------------

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1440px,
);
