@use '../abstracts' as *;

@font-face {
  font-family: $font-primary;
  src: url('#{$font-path}/roboto-regular-webfont.woff2') $font-format;
  font-weight: $f-wght-normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-primary;
  src: url('#{$font-path}/roboto-medium-webfont.woff2') $font-format;
  font-weight: $f-wght-medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-primary;
  src: url('#{$font-path}/roboto-bold-webfont.woff2')  $font-format;
  font-weight: $f-wght-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-primary;
  src: url('#{$font-path}/roboto-blackitalic-webfont.woff2')  $font-format;
  font-weight: $f-wght-black;
  font-style: italic;
  font-display: swap;
}
