@use '../abstracts' as *;

@font-face {
  font-family: #{$font-family-name};
  src: url('#{$font-path}/roboto-regular-webfont.woff2') #{$font-format};
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: #{$font-family-name};
  src: url('#{$font-path}/roboto-medium-webfont.woff2') #{$font-format};
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: #{$font-family-name};
  src: url('#{$font-path}/roboto-bold-webfont.woff2') #{$font-format};
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: #{$font-family-name};
  src: url('#{$font-path}/roboto-blackitalic-webfont.woff2') #{$font-format};
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
