@use '/src/styles/abstracts/' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--bg-page);
  line-height: $lh-base;
  min-height: 100dvh;
}

ul,
ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

:focus-visible {
  outline: auto;
  outline-offset: 2px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
